.myPosts {
    margin-bottom: 20px;
}

.myPosts-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.myPosts-form__area {
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 24px;
}

.myPosts-form__btn {
    max-width: 300px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
}

.myPosts-title {
    font-size: 18px;
    margin-bottom: 20px;
}