.profile-banner {
    width: 100%;
    margin-bottom: 40px;
}

.profile-info {
    display: grid;
    grid-template-columns: 60px 3fr 5fr;
    grid-column-gap: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 21px;
}

.profile-info p {
    margin: 0 0 10px;
}

.profile-info p strong {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.profile-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.profile-description {
    display: flex;
    flex-direction: column;
}

.profile-name {
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
}

.profile-status {
    color: #797979;
}