.post {
    display: flex;
    margin-bottom: 40px;
}

.post-img {
    display: flex;
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
}

.post-text {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #000;
}