.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 20px;
    height: 100%;
}

.dialogs-users {
    margin-bottom: 20px;;
}

.dialogs-messages {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 30px 40px;
    border-left: 1px solid #000;
}

.dialogs-form {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-column-gap: 10px;
    margin-top: auto;
}

.dialogs-form__submit {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #000;
    border-radius: 4px;
    height: 50px;
    text-transform: uppercase;
}